*{
    margin: 0px;
}
header{
    
    margin: 0px;
    height: 100vh;
   background: linear-gradient(0deg,pink,black ); 
}
/* logo properties */
#logo{
    text-decoration: none;
    font-size: 33px;
    color: #E893CF;
    font-family: 'Poppins', sans-serif;
    
}

/* navbar and its properties */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 30px 100px
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.nav li{
   list-style: none;
    text-decoration: none;
}
.nav li a{
    text-decoration: none;
    padding: 6px 15px;
    color: aliceblue;
    border-radius: 20px;
}
li{
    font-family: 'Raleway', sans-serif;
}
#sub1{
    display: none;
}
.opt1:hover #sub1{
    display: block;
    position: absolute;
    font-size: small;
    line-height: 19px;
}
#sub2{
    display: none;
}
.opt2:hover #sub2{
    display: block;
    position: absolute;
    font-size: small;
    line-height: 19px;
}
#sub3{
    display: none;
}
.opt3:hover #sub3{
    display: block;
    position: absolute;
    font-size: small;
    line-height: 19px;
}
ul li ul{
    padding:  0px;
}
ul li ul li{
    padding: 0.5em 0rem;
}
.nav .opt1 a:hover{
    color: #080202;
    background-color: azure;
    transition:  0.5s;

}
.nav .opt2 a:hover{
    color: #080202;
    background-color: azure;
    transition:  0.5s;}
.nav .opt3 a:hover{
    color: #080202;
    background-color: azure;
    transition:  0.5s;
}
/* navbar properties  end here */
.container1{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.innerc2>img{
    height: 500px;
    width: 500px;
}
.innerc1 h1,p{
    font-size: 21px;
    text-align: left;
    text-orientation: sideways-right;
    padding: 10px;
    color:whitesmoke;
    font-family:  'Lato', sans-serif;
    line-height: 1rem;
}
.homep:hover{
    transition: all 1s;
    transform:scale(2,2);
    
}

/* ------------------------------------------------------------- */
/* section properties start here */
.c1{
    margin: 0px;
    height: 100vh;
    background: linear-gradient(0deg,black,pink ); 
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.content{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;  
    line-height: 50px ;
    
}   

#background{
    filter: blur(8px);
    width: auto;
    height: 100vh;
    background: linear-gradient(45deg, #57233b,#F31559);
    display: flex;
    border-radius: 10%; 
    justify-content: center;
    align-items: center;
    
}
.innerc2{
    filter: blur(3px);
    opacity: 0.9;
}
/* section 1 properties end here */
#blogo{
    width: 98%;
    height: 100%;
    border-radius: 9px;
    left: 20px;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}
.c2{
    display: flex;
    height: 100vh;
    width: auto;
    background: linear-gradient(black,pink);
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
    
}

#sample{
    height: 300px;
    width: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #000000;
}
.c2 h1{
   font-size: 30px;
   font-weight: bolder;
    border-radius: 5px;
    text-shadow: 2px 2px 1px #000000;
    color: #99edc3;
}
#change{
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    color: #080202;
    border-style:dashed 2px pink;
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
    background-color: #F4E0B9;

}
#a1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    z-index: 2;
  
}
#a2{
display: grid;  
grid-template-rows: 3fr 1fr;
row-gap: 4rem; 
z-index: 2;
}

#pdetails{
    text-indent: 20px;
   width: 300px;
    text-align: start;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color:white;
    text-shadow:1px -1px 5px black;
    transition: all 0.3s;
    line-height: 1.5rem;
}
#change:hover
{
    font-weight: bolder;
    color: #000000;
    transition: all 0.3s;
    background-color:#FF52A2;
}
/* section 2 ends here */
#last{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: linear-gradient(pink,black);
}
#last a{
    color: #080202;
}
#last .element1:hover{
    color: #99edc3;
    transition: all 0.4s;
}
#last .element2:hover{
    color: #99edc3;
    transition: all 0.9s;
}
#last .element3:hover{
    color: #99edc3;
    transition: all 0.9s;
}